<div class="modal fade" id="rdv_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-dialog-slideout" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title align-right" id="exampleModalLabel">Nouveau Rendez-vous</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="rdvBody">
				<form
					id="rdvForm">
					{# <div class="row row-cards">
																																									<div class="col-md-3 m-3 mt-4 mb-0">
																																										<div class="form-check form-check-inline">
																																											<input class="form-check-input patient-radio" type="radio" name="isPatient" id="filterIsPatient" value="today" checked>
																																											<label class="form-check-label" for="filterIsPatient">Oui</label>
																																										</div>
																																									</div>
																																									<div class="col-md-2 m-2 mt-4 mb-0">
																																										<div class="form-check form-check-inline">
																																											<input class="form-check-input patient-radio" type="radio" name="isPatient" id="filterIsNotPatient" value="yesterday">
																																											<label class="form-check-label" for="filterIsNotPatient">Non</label>
																																										</div>
																																									</div>
																																								</div> #}

					<div class="row row-cards">
						<label class="form-label">Patient exist déja ?</label>

						<div class="col-md-3">
							<div class="form-check form-check-inline">
								<input class="form-check-input patient-radio" type="radio" name="isPatient" id="filterIsPatient" value="yes" checked>
								<label class="form-check-label" for="filterIsPatient">Oui</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check form-check-inline">
								<input class="form-check-input patient-radio" type="radio" name="isPatient" id="filterIsNotPatient" value="no">
								<label class="form-check-label" for="filterIsNotPatient">Non</label>
							</div>
						</div>


						<div class="col-md-12">
							<label class="form-label">Patient</label>
							<select class="patientSelect form-control w-100" name="patientSelect" id="patientSelect" style="width:100% !important">
								<option value="" selected>Choix Patient</option>
								{% for patient in patients %}
									<option value="{{patient.id}}">{{patient.nom}}
										{{patient.prenom}}
										-
										{{patient.cin}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-6">
							<label class="form-label">Nom Patient</label>
							<input required name="nom" id="nom" type="text" class="form-control" disabled placeholder="Nom">
						</div>
						<div class="col-md-6">
							<label class="form-label">Prenom Patient</label>
							<input required name="prenom" id="prenom" type="text" class="form-control" disabled placeholder="Prenom">
						</div>
						<div class="col-md-6">
							<label class="form-label">CIN Patient</label>
							<input required name="cin" id="cin" type="text" class="form-control" disabled placeholder="CIN">
						</div>
						<div class="col-md-6">
							<label class="form-label">Tel Patient</label>
							<input required name="tel" id="tel" type="text" class="form-control" placeholder="TELEPHONE">
						</div>
						<div class="col-md-6">
							<label class="form-label">IPP Patient</label>
							<input name="ipp" id="ipp" type="text" class="form-control" placeholder="IPP">
						</div>

						<div class="col-md-6">
							<label class="form-label">Date rendez-vous</label>
							<input required name="date" id="date" min="{{ (date('+1 day')).format('Y-m-d 00:00') }}" type="datetime-local" class="form-control datepicker">
						</div>
						<div class="col-md-12">
							<label class="form-label">Actes</label>
							<select class="actSelect w-100 form-control" id="actSelect" style="width:100% !important">
								<option value="" selected disabled>Choix Actes</option>
								{% for act in actes %}
									<option value="{{act.id}}">{{act.designation}}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-md-12">
							<table id="tablesActes" class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th style="background-color: #e6ebf0;">List actes</th>
										<th style="background-color: #e6ebf0;" width="1%"></th>
									</tr>
								</thead>
								<tbody id="actTableBody">
									<tr id="placeholderRow">
										<td colspan="2" class="text-center .disabled">
											<p class="text-secondary small lh-base mb-0">Aucun acte n'est sélectionné</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<div class="col-md-2">
							<button type="submit" class="btn btn-primary w-100 ajouterRdvBtn">
								<i class="fa-solid fa-plus"></i>&nbsp;&nbsp;&nbsp;Ajouter</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</form>
</div></div></div></div>
