<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" aria-expanded="false">
			<svg width="100" height="100" viewbox="0 0 100 100">
				<path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"/>
				<path class="line line2" d="M 20,50 H 80"/>
				<path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"/>
			</svg>
		</button>
		<h1 class="navbar-brand navbar-brand-autodark">
			<a href="{{path('app_home')}}">
				<div style="text-align: center;">
					<img src="{{asset('static/logo-upharma.png')}}" style=" width: 150px; margin: 0 auto;">
				</div>
			</a>
		</h1>
		<a href="{{path('app_logout')}}" class="btn-logout">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-door-exit">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M13 12v.01"/>
				<path d="M3 21h18"/>
				<path d="M5 21v-16a2 2 0 0 1 2 -2h7.5m2.5 10.5v7.5"/>
				<path d="M14 7h7m-3 -3l3 3l-3 3"/>
			</svg>
		</a>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav pt-lg-3">
					{%set getCurrentUrl = app.request.pathinfo|split('/')[2]%}
					{%set secondCurrentUrl = app.request.pathinfo|split('/')[3]%}
					{% for module in app.session.get('modules') %}

						<li class="nav-item dropdown {% if getCurrentUrl == module.module.prefix %} active {% endif %}">
							<a class="nav-link dropdown-toggle {% if getCurrentUrl == module.module.prefix %} show {% endif %}" href="#navbar-base" data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" {% if getCurrentUrl == module.module.prefix %} aria-expanded="true" {% endif %}>
								<span class="nav-link-icon d-md-none d-lg-inline-block" style="display: flex !important;">
									<i class="{{module.module.icon}}"></i>
								</span>
								<span class="nav-link-title">
									{{module.module.designation}}
								</span>
							</a>
							<div class="dropdown-menu {% if getCurrentUrl == module.module.prefix %} show {% endif %}">
								<div class="dropdown-menu-columns">
									{% for sousModule in module.sousModule %}
										<div class="dropdown-menu-column">
											<a title="{{sousModule.designation}}" class="dropdown-item truncated-text{% if getCurrentUrl == module.module.prefix and secondCurrentUrl == sousModule.prefix %} active {% endif %}" href="{{path(sousModule.link)}}">
                                            {{sousModule.designation|length > 25 ? sousModule.designation|slice(0, 25) ~ '...' : sousModule.designation}}
											</a>
										</div>
									{% endfor %}
								</div>
							</div>
						</li>

					{% endfor %}
			</ul>
		</div>
	</div>
</aside>
